
Quote Droplet.xcodeproj/project.xcworkspace/xcuserdata/daggerpov.xcuserdatad/UserInterfaceState.xcuserstate
Quote Droplet.xcodeproj/project.xcworkspace/xcuserdata/daggerpov.xcuserdatad/UserInterfaceState.xcuserstate
/Quote Droplet.xcodeproj/project.xcworkspace
Quote-Droplet/Assets.xcassets/.DS_Store
